@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
@import url('https://fonts.googleapis.com/css?family=Chewy|Sigmar+One|Stylish');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

li, a, button, input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500px;
    font-size: 18px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
}

header, .logo, .nav-links, li, a, form{
    background-color: black;
}

.logo {
    cursor: pointer;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #0088a9;
}

.query {
    padding: 5px 20px;
    background-color: #edf0f1;
    border: none;
    border-radius: 10px;
    color: #24252A;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

/* Banner section */
.banner-image {
    width: 100%;
    object-fit: cover;
}

/* Content */
main {
    /* border: 1px red solid; */
    padding-top: 25px;
    padding-bottom: 70px;
    width: 80%;
    margin: auto;
    color: white;
    font-family: 'Stylish';
}

h1 {
    color: #f8f8f8;
    font-size: 60px;
    text-align: center;
    font-family: 'Sigmar One'
}

h2 {
    font-size: 50px;
    text-decoration-line: underline; 
}

p {
    font-family: 'Stylish';
    font-size: 30px;
}

.game-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* border: 1px red solid; */
}

.game-images img {
    width: 200px;
    height: 200px;
    /* border: 1px red solid; */
}

/* Footer */
footer p{
    background-color: black;
    height: 150px;
    text-align: center;
    padding-top: 40px;
    color: white;   
    font-size: 20px;
}

